# Ghost settings
DB_NAME=ghost
DB_USER=ghost
DB_PASSWORD=ghostdbpass
DB_ROOT_PASSWORD=somesecretrootpass
DB_PORT=13928
GHOST_URL=http://localhost:2368

# Deploy settings
DEPLOY_URL=https://blog.example.com